html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    background: #ecf0f1;
    background-attachment: fixed;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
header{
    display: flex;  
    background: #313131;
    height: 90px;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
#menuMobile{
    display: none;
    justify-content: left;
    background: #ff7043;
}
#menuMobile button{
    margin: 10px;
    color: #fff;
    background: transparent;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#menumobile button:active{
    color: #ccc;
}
#menuMobile h1{
    font-size: 6px;
}
#darkModeBtnMobile{
    display: none;
    position: absolute;
    top: 3%;
    left: 84%;
    color: white;
    font-size: 35px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
#darkModeBtnMobile:active{
    color: #ccc;
}
.menu{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.interesse, .fodao{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 800px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
.menu a{
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 15pt;
    font-family: 'arial', sans-serif;
    margin-top: 20px;
    cursor: pointer; 
    transition: 0.3s;
    outline: none;
    text-decoration: none;
    margin: 0 9.8px 0 9.8px;
}
.menu a:hover{
    color: #ccc;
}
#darkModeBtn{
    position: absolute;
    top: 4%;
    left: 94%;
    color: white;
    font-size: 35px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    transition: 0.2s;
}
#darkModeBtn:hover{
    color: #eee;
}
#darkModeBtn:active{
    color: #ccc;
}
.imgLogo{
    position: absolute;
    display: block;
    background: #fff;
    border: 10px solid #fff;
    border-left: 15px solid #fff;
    border-radius: 8px;
    margin-left: -10px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
    float: none;
    margin-top: 10px;
}
.imgLogo:hover{
    border-left: 40px solid #fff;
}
/* Conteúdo do site */
.titleProgramacao{
    font-family: 'Arial', sans-serif;
    font-size: 80pt;
    margin-top: 150px;
    text-align: center;
    cursor: default;
    color: #111;
    animation-name: progAnima;
    animation-duration: 1s;
}
@keyframes progAnima{
    from{
        opacity: 0;
        margin-top: 200px;
    }
    to{
        opacity: 1;
    }
}
.container h1{
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 30pt;
    cursor: default;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 3px solid #000;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 600px;
}
.container p{
    color: #aaa;
    font-family: 'Arial', sans-serif;
    font-size: 12pt;
    text-align: center; 
    width: 600px;
    cursor: default;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
}
.container img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.2);
}
.form{
    background: #313131;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: all 0.3s;
}
.form:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
.form h1{
    color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 30pt;
    border-bottom: none;
    cursor: default;
    width: 100%;
}
.form button{
    background: #E6B31E;
    border: none;
    color: #fff;
    padding: 10px;
    width: 120px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    outline: none;
    margin-right: auto;
    margin-left: auto;
    transition: 0.2s;
}
.form button:hover{
    width: 130px;
    background: #997405;
}
@media only screen and (max-width: 950px) {
    .titleProgramacao{
        font-size: 30pt;
    }
    .form button:active{    
        background: #997405;
    }
    .menuMobile{
        background: #313131;
    }
}
@media only screen and (max-width: 850px) {
    header{
        background: #313131;
    }
    img{
        width: 500px;
    }
    .fodao, .interesse{
        width: 500px;
        height: 400px;
    }
    .container h1{
        font-size: 30pt;
        width: 300px;
    }
    .container p{
        font-size: 10pt;
        width: 300px;
    }
    .form button:active{    
        background: #997405;
    }
}
@media only screen and (max-width: 750px) {
    header{
        background: #313131;
    }
    .container h1{
        font-size: 33pt;
    }
    .container p{
        font-size: 12pt;
    }
    .form{
        width: 200px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form h1{
        width: 200px;
        text-align: center;
        font-size: 15pt;
    }
    .fodao, .interesse{
        height: 450px;
    }
    .form button:active{    
        background: #997405;
    }
}
@media only screen and (max-width: 650px) {
    #darkModeBtnMobile{
        display: flex;
    }
    header{
        display: none;
    }
    .logo{
        display: none;
    }
    #menuMobile{
        display: flex;
        transition: 0.3s;
        background: #313131;
    }
    .titleProgramacao{
        font-size: 20pt;
        margin-top: 40px;
    }
    .fodao, .interesse{
        width: 300px;
    }
    .container h1{
        font-size: 20pt;
        text-align: center;
        width: 200px;
    }
    .container p{
        font-size: 8pt;
        width: 200px;
        margin-right: auto;
        margin-left: auto; 
    }
    img{
        width: 300px;
    }
    .form{
        width: 200px;
        height: 100px;
    }
    .form h1{
        font-size: 13pt;
    }
    .form button{
        font-size: 8pt;
        width: 100px;
    }
    .interesse, .fodao{
        height: 350px;
    }
    .form button:hover{
        width: 100px;
    }
    .form button:active{    
        background: #997405;
    }
}
.form button:active{    
    background: #997405;
}